.singleItem{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    border-radius: 0.5rem;
}
.singleItem:hover {
    transform: translateY(-2px);
    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.singleItem > img {
    width: 400px;
    height: auto;
}

.desc {
    padding-top: .6rem;
    width: 400px;
  
}
.price {
    padding-top: .6rem;
}

.singleItem > button {
    padding: .3rem;
    border-radius: .2rem;
}

.singleItem > button:hover {
    cursor: pointer;
    background-color: #002b31;
    color: var(--text);
}